<h3 class="content-title">Messages</h3>

<ul class="messages-list">
  <li class="flex">
    <div class="msg-avatar"><img src="assets/images/avatar.png" alt="user-avatar"></div>
    <div>
      <h5 class="msg-username">Everett House</h5>
      <small class="msg-time">16 min ago</small>
      <p class="msg-content">Aenean interdum, libero at ultricies tempor, sapien enim ..</p>
    </div>
  </li>
  <li class="flex">
    <div class="msg-avatar"><img src="assets/images/avatar.png" alt="user-avatar"></div>
    <div>
      <h5 class="msg-username">Everett House</h5>
      <small class="msg-time">16 min ago</small>
      <p class="msg-content">Aenean interdum, libero at ultricies tempor, sapien enim ..</p>
    </div>
  </li>
  <li class="flex">
    <div class="msg-avatar"><img src="assets/images/avatar.png" alt="user-avatar"></div>
    <div>
      <h5 class="msg-username">Everett House</h5>
      <small class="msg-time">16 min ago</small>
      <p class="msg-content">Aenean interdum, libero at ultricies tempor, sapien enim ..</p>
    </div>
  </li>
</ul>

