<!-- TOOLBAR -->
<div class="tags-toolbar">
  <ng-container *ngFor="let tag of tags">
    <button class="tag-btn" mat-raised-button [style.background]="tag.fillColor" [style.color]="tag.textColor" (click)="wrapInTag(tag)"
      *ngIf="tag.isSelected">
      {{ tag.title }}
    </button>
  </ng-container>

  <button class="tag-add-btn" mat-raised-button (click)="openEditor()">
    <mat-icon>edit</mat-icon>
  </button>
  <button class="tag-add-btn" mat-raised-button (click)="acts.isSectionsExpand = !acts.isSectionsExpand" *ngIf="sections && sections.length">
    <mat-icon>{{ acts.isSectionsExpand ?'expand_less' : 'expand_more' }}</mat-icon>
  </button>

  <!-- <app-waiting *ngIf="acts.isLoading" size="30"></app-waiting> -->
</div>

<!-- SECTIONS -->
<ng-container *ngIf="acts.isSectionsExpand">
  <div *ngIf="sections && sections.length > 0">
    <div *ngFor="let section of sections; let sectIndex=index">
      <span>{{ section.tag.title }}: </span>
      <button class="segment-btn" mat-stroked-button [style.background]="section.tag.fillColor" [style.color]="section.tag.textColor"
        (click)="setCurrentTimeToPlayer(segment)" *ngFor="let segment of section.segments; let segmIndex=index">
        {{ segment.content }} {{ segment.time.insert }}
        <mat-icon (click)="removeSectionSegment(sectIndex, segmIndex, $event)">close</mat-icon>
      </button>
    </div>
  </div>
</ng-container>