@import "~src/assets/scss/modules/variables";

/deep/ quill-editor {
  //color: $active-process;


  .ql-toolbar.ql-snow {
    border: 0;
  }

  .quill-editor.ql-container {
    height: calc(100vh - #{$player-height} * 3);
    overflow: auto;
    border: 0;
    //font-family: Monospace;

    .speaker {
      display: inline-block;
      margin-top: 1em;
      color: $speaker;
      cursor: pointer;
      white-space: normal;

    }

    .word {

    }
    
  }

  .ql-spanblock:after {
      content: "SAVE";
    }

    .ql-spanblock {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      background-color: #28a745 !important;
      color: #fff !important;
      border-color: #28a745;
      width: 80px !important;
      padding: 0px !important;
      float: right !important;
    }

    .ql-formats:last-child {
      float: right;
      margin-right: 40px;
    }
}
