<h3 class="content-title">Shortcuts</h3>

<ul class="shortcut-list">
  <li>
    <h6 class="shortcut-title">Play &amp; pause</h6>
    <p>play or pause the audio or video file</p>
    <span class="shortcut-btn">SHIFT</span>
    <span class="shortcut-btn">SPACE</span>
  </li>

  <li>
    <h6 class="shortcut-title">New Paragraph</h6>
    <p>split a paragraph and add new block</p>
    <span class="shortcut-btn">Enter</span>
  </li>

  <li>
    <h6 class="shortcut-title">Speed up</h6>
    <p>speed forward your audio files</p>
    <span class="shortcut-btn" style="background:#ffad1e">ctrl</span>
    <span class="shortcut-btn" style="background:#ffad1e">R</span>
  </li>

  <li>
    <h6 class="shortcut-title">Speed Down</h6>
    <p>speed backward your audio files</p>
    <span class="shortcut-btn" style="background:#ffad1e">ctrl</span>
    <span class="shortcut-btn" style="background:#ffad1e">L</span>
  </li>
</ul>
