@import '~src/assets/scss/modules/menu-content';

.shortcut-list {
  padding-left: $content-padding-left;

  li {
    border-bottom: 1px solid #f3f3f3;
    margin-top: 1em;
    padding: 0 0 1em 1em;

    .shortcut-title {
      margin: 0;
      font-weight: 700;
      color: $base-text-title-color;
    }

    p {
      color: $label-color;
    }

    .shortcut-btn {
      background: #4bceaf;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 6px 25px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
